@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Logo {
    width: 200px;
    height: auto;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #F5F7FA;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #333 ;
    margin: 0 15px;
    font-weight: 500;
}

a:hover {
    color: #007BFF;
}

.btn-inicio {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}

